.History {
  width: 100%;

  &__items {
    margin: 20px 0;
  }

  &__item {
    @include mdc-elevation(1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    padding: 8px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.History-item {
  &__group {
    width: 32%;
    order: 1;
    overflow: hidden;

    @include tablet-content {
      width: 50%;

      &:not(.History-item__value) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;

        > .History-item__main {
          margin-right: 15px;
        }
      }
    }

    @include mobile {
      width: 100%;

      &:first-child {
        margin-bottom: 7px;
      }
    }
  }

  &__value {
    text-align: right;
    align-self: center;

    @include tablet-content {
      order: 0;
      width: 100%;
    }

    > .History-item__main:before {
      content: '- ';
    }

    &--income {
      color: #00E676;

      > .History-item__main:before {
        content: '+ ';
      }
    }
  }

  &__main {
    @include mdc-typography(headline);
    font-size: 1.25rem;
  }

  &__secondary {
    @include mdc-typography(body1);
    @include mdc-theme-prop(color, text-secondary-on-background);
    font-size: 1rem;
  }
}

@import "history-filters";
