.HistoryFilters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
  margin-bottom: 40px;

  > * {
    width: 30%;

    @include tablet-content {
      width: 45%;
    }

    @include mobile {
      width: 100%;
    }
  }

  .Select {
    display: flex;
    align-items: center;
    position: relative;
    bottom: -8px;
  }
}
