@import "~normalize.css";
@import "~material-components-web/material-components-web";
@import "components/variables";

html {
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

html, body, #root {
  width: 100%;
  height: 100%;
}

#root {
  @include mdc-typography-base;
  @include mdc-typography(body1);
}

@import "components/core/sidenav/sidenav";
@import "components/core/input/input";
@import "components/core/input/multiinput";
@import "components/core/select/select";

@import "components/pages/layout";
@import "components/pages/transaction/transaction-page";
@import "components/pages/history/history-page";

@import "components/auth/auth";
@import "components/transaction/transaction";
@import "components/history/history";
