$tablet-bp: map-get($mdc-layout-grid-breakpoints, desktop);
$mobile-bp: map-get($mdc-layout-grid-breakpoints, tablet);

@mixin tablet {
  @media screen and (max-width: $tablet-bp) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-bp) {
    @content;
  }
}

$Transaction__form-max-width: 650px;
