.Select {
  width: 100%;

  .mdc-select {
    width: 100%;
    max-width: initial;
    min-width: 100%;
  }

  .mdc-select__menu {
    width: 100%;
  }

  .mdc-simple-menu__items {
    width: 100%;
  }

  .mdc-list-item {
    width: 100%;
  }
}
